POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password_here
POSTGRES_DB=john_log

DB_CONNECTION=postgres://postgres:your_password_here@localhost:5432/john_log

PORT=8080
RETENTION_DAYS=30
PARTITION_LOOKAHEAD_DAYS=7
RETENTION_CRON="10 0 * * *"